################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageSegmentation/.vs/ImageSegmentation/FileContentIndex
